 /* About Section */
  
 .about {
    background: url(/img/abut.jpg) no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
  
    h1 {
      font-size: 3rem;
      font-weight: bold;
    }
  
    p {
      &:nth-child(1) {
        font-size: 18px;
        font-weight: 500;
        padding-top: 100px;
      }
  
      &:nth-child(2) {
        font-size: 18px;
        color: grey;
      }
    }
  }