.main {
    background: url(/img/main1.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  
    h1 {
      font-size: 5rem;
    }
  
    p {
      &:nth-child(1) {
        font-size: 18px;
        font-weight: 500;
        padding-top: 100px;
      }
  
      &:nth-child(2) {
        font-size: 18px;
        color: grey;
      }
    }
  }
  
  .mbtn1 {
    height: 50px;
    width: 25%;
    outline: none;
    border: none;
    color: white;
    background: rgb(20, 219, 20);
    border-radius: 50px;
    transition: all 0.4s;
  
    &:hover {
      background-color: rgb(13, 173, 13);
    }
  }
  
  .mbtn2 {
    height: 50px;
    width: 25%;
    outline: none;
    background-color: transparent;
    color: rgb(20, 219, 20);
    border: 1px solid rgb(20, 219, 20);
    border-radius: 50px;
    transition: all 0.4s;
  
    &:hover {
      background-color: rgb(20, 219, 20);
      border: none;
      color: white;
    }
  }
  
  .line {
    height: 6px;
    width: 30%;
    background: rgb(20, 219, 20);
    display: inline-block;
  }