@mixin anclas {
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 0.4s;
    font-family: 'Roboto', sans-serif;
  
    &:hover {
      color: rgb(20, 219, 20);
    }
  }

/* .nav-item a  */