 /* Product Section */
  
 .product {
    h1 {
      font-size: 3rem;
      font-weight: bold;
    }
  
    p {
      &:nth-child(1) {
        font-size: 18px;
        font-weight: 500;
        padding-top: 100px;
      }
  
      &:nth-child(2) {
        font-size: 18px;
        color: grey;
      }
    }
  }
  
  .star {
    text-align: end;
    color: orange;
  }
  
  .product {
    .card {
      border: none;
      border-radius: 4px;
    }
  
    .card-body {
      border: 1px dashed rgb(190, 185, 185);
    }
  }
  
  .head1 {
    font-weight: 400;
    margin: 0;
  }
  
  .per1 {
    color: rgb(168, 162, 162);
  }
  
  .btnc {
    height: 50px;
    width: 50%;
    outline: none;
    border: none;
    color: white;
    background: rgb(20, 219, 20);
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    transition: all 0.4s;
  
    &:hover {
      outline: none;
      border: 1px solid rgb(20, 219, 20);
      color: rgb(20, 219, 20);
      background: transparent;
      border-radius: 50px;
    }
  }
  
  .discount {
    background: rgb(20, 219, 20);
    color: white;
  }
  
  .dbtn {
    height: 50px;
    width: 75%;
    outline: none;
    border: none;
    color: black;
    background-color: white;
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    font-weight: lighter;
    transition: all 0.4s;
  
    &:hover {
      background-color: rgb(228, 228, 228);
    }
  }